# Environment
.env
.env.local
.env.*.local

# Logs and runtime
*.log

# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# IDE & Editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Dependencies
/vendor/
/node_modules/
